.container {
  padding: 0 20px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.flex_container{
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  height: 90vh;
  border-radius: 8px;
  border: 1px solid black;
  overflow-y: scroll;
  gap: 5px
}
.card {
  width: calc(33.33% - 5px);
  cursor: pointer;
  transition: opacity .6s ease-out;
  opacity: 1;
}

.card:hover {
  opacity: .7;
  transition: opacity .6s ease-out;
}
